{% trans_default_domain 'BugTrackBundle' %}

{% macro commentsTable(comments) %}
    <table class="table table-hover">
        <thead> <tr>
            <th>{{ 'comment.created'|trans }}</th>
            <th>{{ 'comment.body'|trans }}</th>
            <th>{{ 'comment.actions'|trans }}</th>
        </tr></thead>
        <tbody>
        {% for comment in comments %}
            <tr id="comment-{{ comment.id }}">
                <td class="col-md-2">
                    <a href="{{ path('user_view', {'id': comment.author.id}) }}">{{ comment.author.fullName }}
                    </a>&nbsp;{{ comment.updated|tz_datetime }}
                </td>
                <td class="col-md-5">{{ comment.body|nl2br }}</td>
                <td class="col-md-2">
                    <a href="{{ path('comment_edit', {'id': comment.id}) }}"
                       class="btn btn-default {{ not is_granted('edit_comment', comment) ? 'disabled' : ''}}" role="button">
                        Edit
                    </a>
                    <a href="{{ path('comment_delete', {'id': comment.id}) }}"
                       class="btn btn-default {{ not is_granted('delete_comment', comment) ? 'disabled' : ''}}" role="button">
                        Delete
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        $(function() {
            $(window.location.hash).addClass('bg-info');

            $( ".js-mark" ).click(function() {
                location.reload(true);
            });
        });
    </script>
{% endmacro %}

{% macro issuesTable(issues) %}
    <table class="table table-hover">
        <thead> <tr>
            <th>{{ 'issue.created'|trans }}</th>
            <th>{{ 'issue.body'|trans }}</th>
            <th>{{ 'issue.actions'|trans }}</th>
        </tr></thead>
        <tbody>
        {% for issue in issues %}
            <tr>
                <td class="col-md-2">
                    <a href="{{ path('user_view', {'id': issue.reporter.id}) }}">{{ issue.reporter.fullName }}
                    </a>&nbsp;{{ issue.updated|tz_datetime }}
                </td>
                <td class="col-md-5">{{ issue.getTitle }}</td>
                <td class="col-md-2">
                    <a href="{{ path('issue_view', {'id': issue.id}) }}"
                       class="btn btn-default {{ not is_granted('view_issue', issue) ? 'disabled' : ''}}" role="button">
                        View
                    </a>
                    <a href="{{ path('issue_edit', {'id': issue.id}) }}"
                       class="btn btn-default {{ not is_granted('edit_issue', issue) ? 'disabled' : ''}}" role="button">
                        Edit
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% macro projectActivitiesTable(activities) %}
    <table class="table table-hover">
        <thead> <tr>
            <th>{{ 'activity.created'|trans }}</th>
            <th>{{ 'activity.issue'|trans }}</th>
            <th>{{ 'activity.body'|trans }}</th>
        </tr></thead>
        <tbody>
        {% for activity in activities %}
            <tr>
                <td class="col-md-2">
                    <a href="{{ path('user_view', {'id': activity.user.id}) }}">{{ activity.user.fullName }}
                    </a>&nbsp;{{ activity.created|tz_datetime }}
                </td>
                <td class="col-md-2">
                    {% if is_granted('view_issue', activity.issue) %}
                        <a href="{{ path('issue_view', {'id': activity.issue.id}) }}">
                            {{ activity.issue.getTitle }}
                        </a>
                    {% else %}
                        {{ activity.issue.getTitle }}
                    {% endif %}
                </td>
                <td class="col-md-5">{{ get_activity_title(activity)|raw }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% macro issueActivitiesTable(activities) %}
    <table class="table table-hover">
        <thead> <tr>
            <th>{{ 'activity.created'|trans }}</th>
            <th>{{ 'activity.body'|trans }}</th>
        </tr></thead>
        <tbody>
        {% for activity in activities %}
            <tr>
                <td class="col-md-2">
                    <a href="{{ path('user_view', {'id': activity.user.id}) }}">{{ activity.user.fullName }}
                    </a>&nbsp;{{ activity.created|tz_datetime }}
                </td>
                <td class="col-md-7">{{ get_activity_title(activity)|raw }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endmacro %}
